h1 {
  text-align: center;
}

.gdn-container {
  display: flex-col;
  /* justify-content: center;
  align-items: center; */
  padding: 1%;
}

#btn-add-garden {
  width: 180px;
  background-color: rgb(57, 189, 57);
  color: #523906;
  border: none;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}
