.grid-container {
    height: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: repeat(5, 40px);
}
  
.cell {
    border: 1px solid white;
    background-color: green;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#btn-add-plant {
    background-color: rgb(57, 189, 57);
    color: #261a02;
    width: 20%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
